.bg-breakingNews {
  background-color: #d74141;
  height: 40px;
}

.content-breakingNews {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5vh;
}
.breakingNews {
  background-color: aliceblue;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
