.berita-title-background {
  width: 75%;
  background-color: #ffffff;
  height: 40px;
  position: absolute;
  top: 420px;
  padding: 10px;
  border-radius: 0px 2px 15px 0px;
  align-items: center;
  display: flex;
}

.berita-title {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #d74141;
  text-transform: capitalize;
  /* Agar text terbatas */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date-time-berita {
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 475px;
}

.date-time-berita h5 {
  margin-bottom: 2.5vh;
}
