@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&family=Tangerine&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item {
  position: relative;
  height: 100vh;
}

.content-kominfo img {
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center;
}

.content-kominfo-text {
  position: absolute;
  margin-left: 80px;
  font-family: "Poppins";
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: white;
}

.content-kominfo-text h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
}

.content-kominfo-text h2 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.btn-berita {
  width: 180px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

button h6 {
  font-size: 16px;
  color: #d74141;
  padding: 5px;
  font-family: "Poppins";
  font-weight: 700;
}

/* handle navbar pertama sekali di atas */
header #navbar-brand {
  position: absolute;
  top: 0;
  padding: 10px 0 10px 0;
  background-color: rgba(150, 6, 6, 0.8);
  z-index: 1;
  width: 100%;
}
.img-kominfo {
  width: 275px;
  padding-left: 5px;
}

/* conteol navbar content home dan dll */
.navbar-content {
  position: absolute;
  top: 74px;
  background-color: rgba(111, 14, 25, 0.84);
  width: 100%;
}

.contents-navbar {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 200;
  transition: all 0.5s ease-in-out;
}

.contents-navbar:hover {
  background-color: rgb(255, 255, 255, 0.9);
  color: #d74141;
  font-family: sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: 200;
  margin-right: 5px;
}

.dropdown-header {
  color: white;
}

.bg-content-navbar {
  background: rgba(150, 6, 6, 0.8);
}

.dropdown-item {
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.dropdown-item:hover {
  background: white;
  color: #6f0e19;
  cursor: pointer;
  padding-left: 10px;
}

@media only screen and (max-width: 576px) {
  .carousel-item {
    position: relative;
    height: 100vh;
  }
  .content-kominfo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content-kominfo-text {
    position: absolute;
    margin-left: 7px;
    font-family: "Poppins";
    font-size: 5px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: white;
  }

  .content-kominfo-text h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
  }

  .content-kominfo-text h2 {
    font-family: sans-serif;
    font-style: normal;
    font-size: 7px;
    text-align: left;
    color: white;
  }

  .btn-berita {
    width: auto;
    height: auto;
    border-radius: 10px;
    border: none;
  }

  button h6 {
    font-size: 8px;
    color: #d74141;
    padding: 5px;
    font-family: "Poppins";
    font-weight: 700;
  }
}
