@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.item-sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item-sosmed img {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.title-sosmed {
  color: #d74141;
  font-size: 32px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
